{% extends "learning/course/detail.html" %}
{% load i18n django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} −
  {% blocktrans with name=course.name %}Attach activity on “{{ name }}”{% endblocktrans %}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Attach activity" "learning:course/detail/activity/attach" %}
{% endblock %}

{% block learning_content %}
  <form method="get">
    <div class="form-row">
      <div class="col">
        {{ form.query }}
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </form>

  {% if search_has_obj %}
    <hr>
    <h3>{% trans "Search results" %}</h3>
    <div class="row">
      {% for activity in search_page_obj %}
        {% include "learning/activity/_includes/activity_block.html" with activity=activity add=True %}
      {% endfor %}
    </div>
    {% include 'learning/_includes/paginator_buttons.html' with current_page=search_page_obj prefix="search" nb_per_page=search_nb_per_page %}
  {% endif %}

  {% if suggested_has_obj %}
    <hr>
    <h3>{% trans "Suggestions" %}</h3>
    <div class="row">
      {% for activity in suggested_page_obj %}
        {% include "learning/activity/_includes/activity_block.html" with activity=activity add=True %}
      {% endfor %}
    </div>
    {% include 'learning/_includes/paginator_buttons.html' with current_page=suggested_page_obj prefix="suggested" nb_per_page=search_nb_per_page %}
  {% endif %}

{% endblock %}
