{% extends "learning/course/detail.html" %}
{% load i18n django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} − {% trans "Change" context "course, title" %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Change" "learning:course/change" course.slug %}
{% endblock %}

{% block learning_content %}
  <form method="post">
    <div class="clearfix">
      <a class="btn btn-outline-info float-left" href="{% url 'learning:course/detail' slug=course.slug %}">{% trans "Cancel and get back to course" %}</a>
      <button type="submit" class="btn btn-primary float-right">{% trans "Update course" %}</button>
    </div>
    <hr>
    {% csrf_token %}
    {% include "learning/course/_includes/course_form.html" %}
  </form>
{% endblock %}
