{% load i18n %}

{% with course.course_activities.count as nb_activities %}
  {% if nb_activities > 0 %}
    <span id="badge-nb-course-activities" class="badge badge-pill badge-info p-2">
      {% blocktrans count counter=nb_activities %}{{ nb_activities }} activity{% plural %}{{ nb_activities }} activities{% endblocktrans %}
    </span>
  {% else %}
    <span id="badge-nb-course-activities" class="badge badge-pill badge-warning p-2">{% trans "No activity yet" %}</span>
  {% endif %}
{% endwith %}
