{% extends "learning/course/base.html" %}
{% load i18n learning django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} −
  {% blocktrans with name=course.name %}Course “{{ name }}”{% endblocktrans %}
{% endblock %}

{% block sidebar %}
  <aside id="learning-sidebar" class="border-right bg-light">
    <h5 class="sidebar-title text-center text-muted">{{ course.name }}</h5>
    <div class="list-group list-group-flush">

      {% with url_name="learning:course/detail" %}
        <a id="link-course-detail" href="{% url url_name slug=course.slug %}"
           data-toggle="tooltip" data-placement="right" title="{% trans "Details" %}" data-container="aside#learning-sidebar"
           class="list-group-item list-group-item-action {% if request.resolver_match.view_name == url_name %}active{% else %}bg-light{% endif %}">
          <i class="fas fa-info-circle"></i>
          <span class="sidebar-item-title">{% trans "Details" %}</span>
        </a>
      {% endwith %}

      {% get_object_perms object user as course_perms %}
      {% if not user_is_teacher and course.course_activities.count > 0 %}
        {% with url_name="learning:course/detail/activities" %}
          <a id="link-course-activities" href="{% url url_name slug=course.slug %}"
             data-toggle="tooltip" data-placement="right" title="{% trans "Activities" %}" data-container="aside#learning-sidebar"
             class="list-group-item list-group-item-action {% if request.resolver_match.view_name == url_name %}active{% else %}bg-light{% endif %}">
            <i class="fas fa-sitemap"></i>
            <span class="sidebar-item-title">{% trans "Activities" %}</span>
          </a>
        {% endwith %}
      {% endif %}

      {% if "change_course" in course_perms and not course.read_only %}
        {% with url_name="learning:course/detail/activity/add" %}
          <a id="link-course-add-activity" href="{% url url_name slug=course.slug %}"
             data-toggle="tooltip" data-placement="right" title="{% trans "New activity" %}" data-container="aside#learning-sidebar"
             class="list-group-item list-group-item-action {% if request.resolver_match.view_name == url_name %}active{% else %}bg-light{% endif %}">
            <i class="fas fa-plus"></i>
            <span class="sidebar-item-title">{% trans "New activity" %}</span>
          </a>
        {% endwith %}
      {% endif %}

      {% if "view_collaborators_course" in course_perms %}
        {% with url_name="learning:course/detail/collaborators" %}
          <a id="link-course-collaborators" href="{% url url_name slug=course.slug %}"
             data-toggle="tooltip" data-placement="right" title="{% trans "Collaborators" %}" data-container="aside#learning-sidebar"
             class="list-group-item list-group-item-action {% if request.resolver_match.view_name == url_name %}active{% else %}bg-light{% endif %}">
            <i class="fas fa-chalkboard-teacher"></i>
            <span class="sidebar-item-title">{% trans "Collaborators" %}</span>
          </a>
        {% endwith %}
      {% endif %}

      {% if "view_students_course" in course_perms %}
        {% with url_name="learning:course/detail/students" %}
          <a id="link-course-students" href="{% url url_name slug=course.slug %}"
             data-toggle="tooltip" data-placement="right" title="{% trans "Students" %}" data-container="aside#learning-sidebar"
             class="list-group-item list-group-item-action {% if request.resolver_match.view_name == url_name %}active{% else %}bg-light{% endif %}">
            <i class="fas fa-user-graduate"></i>
            <span class="sidebar-item-title">{% trans "Students" %}</span>
          </a>
        {% endwith %}
      {% endif %}

      {% if "view_similar_course" in course_perms %}
        {% with url_name="learning:course/detail/similar" %}
          <a id="link-course-similar" href="{% url url_name slug=course.slug %}"
             data-toggle="tooltip" data-placement="right" title="{% trans "Similar courses" %}" data-container="aside#learning-sidebar"
             class="list-group-item list-group-item-action {% if request.resolver_match.view_name == url_name %}active{% else %}bg-light{% endif %}">
            <i class="fas fa-tags"></i>
            <span class="sidebar-item-title">{% trans "Similar courses" %}</span>
          </a>
        {% endwith %}
      {% endif %}

    </div>
  </aside>
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb course.name "learning:course/detail" course.slug %}
{% endblock %}

{% block learning_content %}
  {% get_object_perms object user as course_perms %}

  <div class="clearfix">

    {# Course title and permalink #}
    <h3 class="float-left mb-0">
      <a href="{% url "learning:course/detail" slug=course.slug %}" class="mr-2 btn"
         data-toggle="tooltip" data-placement="top" title="{% trans "Permalink to the course." %}">
        <i class="fa fa-link"></i>
      </a>
      {{ course.name }}
    </h3>

    {# Course management buttons #}
    <div class="ml-2 float-right">
      {# Display register or unregister button #}
      {% if user_can_register %}
        {% if registration and not registration.registration_locked %}
          {# The user is a student, he can unregister #}
          {% include 'learning/course/_includes/details/modals/unregister.html' with course=course %}
          <button id="btn-course-unregister" type="button" class="btn btn-outline-warning"
                  data-toggle="modal" data-target="#unregister-course-{{ course.slug }}">
            <i class="fa fa-university"></i> {% trans "Unregister" %}
          </button>
        {% elif not registration %}
          {# It’s not already a student so it can register #}
          <form action="{% url 'learning:course/detail/register' slug=course.slug %}" method="post">
            {% csrf_token %}
            <button type="submit" id="btn-course-register" class="btn btn-outline-secondary">
              <i class="fa fa-university"></i> {% trans "Register" %}
            </button>
          </form>
        {% endif %}
      {% else %}
        {# Display change and delete buttons #}
        {% if "change_course" in course_perms %}
          <a id="btn-course-change" href="{% url 'learning:course/update' slug=course.slug %}" class="btn btn-outline-primary">
            <i class="fa fa-edit"></i> {% trans "Edit" %}
          </a>
        {% endif %}
        {% if "delete_course" in course_perms %}
          <a id="btn-course-delete" href="{% url 'learning:course/delete' slug=course.slug %}" class="btn btn-outline-danger">
            <i class="fa fa-trash"></i>
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <hr>
  {% include "learning/course/_includes/details/status_line.html" %}
  <hr>
  {% include "learning/_includes/object_detail_tags_and_country_line.html" %}
  <hr>

  {% with maxlength=2000 length=course.description|render_markdown|striptags|length %}
    {% if length > maxlength and "change_course" in course_perms %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% blocktrans %}Description for this course seems too long ({{ length }} characters). You should consider reducing it to less than {{ maxlength }} characters for better
          readability.{% endblocktrans %}
      </div>
    {% endif %}
  {% endwith %}

  <div class="p-3 model-description">
    {{ course.description | render_markdown | safe }}
  </div>

  {% if user_is_teacher %}
    <hr>
    {% include "learning/course/_includes/details/teacher_activities_view.html" %}
  {% endif %}

{% endblock %}
