{% extends "learning/base.html" %}
{% load i18n django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} − {% trans "Courses I’m following" %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Courses I’m following" "learning:course/student" course.slug %}
{% endblock %}

{% block learning_content %}
  {% if page_obj.object_list %}
    <div class="row">
      {% for course in page_obj %}
        {% include "learning/course/_includes/block/student_course_block.html" with course=course %}
      {% endfor %}
    </div>
    {% include "learning/_includes/paginator_buttons.html" with current_page=page_obj %}
  {% else %}
    <div class="alert alert-info" role="alert">
      {% trans "You did not register on any course yet. Go to the search page to find owesome courses to follow." %}
    </div>
  {% endif %}
{% endblock %}
