{% extends "learning/base.html" %}
{% load i18n django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} − {% trans "Courses I teach in" %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Courses I teach in" "learning:course/teacher" course.slug %}
{% endblock %}

{% block learning_content %}
  <form method="get">
    <div class="form-row">
      <div class="col">
        {{ form.query }}
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
      </div>
      <div class="col-auto">
        <a href="{% url "learning:course/add" %}" class="float-right btn btn-outline-success">
          <i class="fa fa-plus"></i> {% trans "Create a new course" %}
        </a>
      </div>
    </div>
  </form>

  {% if search_has_obj %}
    <hr>
    <div class="row">
      {% for course in search_page_obj %}
        {% include "learning/course/_includes/block/teacher_course_block.html" %}
      {% endfor %}
    </div>
    {% include 'learning/_includes/paginator_buttons.html' with current_page=search_page_obj prefix='search' nb_per_page=search_nb_per_page %}
  {% endif %}

  {# The courses where the connected user if author #}
  {% if author_has_obj %}
    <hr>
    <h2>{% trans "My courses" %}</h2>
    <div class="row">
      {% for course in author_page_obj %}
        {% include "learning/course/_includes/block/teacher_course_block.html" %}
      {% endfor %}
    </div>
    {% include 'learning/_includes/paginator_buttons.html' with current_page=author_page_obj prefix='author' nb_per_page=author_nb_per_page %}
  {% else %}
    <hr>
    <div class="alert alert-info" role="alert">
      {% trans "You did not create a course yet. Courses are reusable and shareable elements that aggregate activities and educational resources. Go on and create a course!" %}
    </div>
  {% endif %}


  {# The courses on which the user collaborates on #}
  {% if contributor_has_obj %}
    <hr>
    <h2>{% trans "Contributions" %}</h2>
    <div class="row">
      {% for contribution in contributor_page_obj %}
        {% include "learning/course/_includes/block/teacher_course_block.html" with course=contribution.course contribution=contribution %}
      {% endfor %}
    </div>
    {% include 'learning/_includes/paginator_buttons.html' with current_page=contributor_page_obj prefix='contributor' nb_per_page=contributor_nb_per_page %}
  {% endif %}

{% endblock %}
