{% load i18n learning %}

<h4>{% trans "General information" %}</h4>
<div class="form-group">
  <div class="form-row">
    <div class="col">
      {% include "learning/_includes/form_group_block.html" with field=form.name %}
    </div>
    <div class="col-auto">
      {% include "learning/_includes/form_group_block.html" with field=form.type %}
    </div>
    <div class="col-auto">
      {% include "learning/_includes/form_group_block.html" with field=form.language %}
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      {% include "learning/_includes/form_group_block.html" with field=form.tags %}
    </div>
    <div class="col-auto">
      {% include "learning/_includes/form_group_block.html" with field=form.reuse %}
    </div>
    <div class="col-auto">
      {% include "learning/_includes/form_group_block.html" with field=form.access %}
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      {% include "learning/_includes/form_group_block.html" with field=form.licence %}
    </div>
    <div class="col-auto">
      {% include "learning/_includes/form_group_block.html" with field=form.duration %}
    </div>
  </div>
</div>
<hr>

<h4>{% trans "Media" %}</h4>
<div class="form-group">
  <div class="form-row">
    <div class="col">
      <label for="media-file" hidden>{% trans "File" %}</label>
      <input id="id_media" name="media" type="file" class="form-control-file"/>
      <small id="media-help" class="form-text text-muted">{% blocktrans with size=media_upload_size|filesizeformat %}File size should not exceed {{ size }}.{% endblocktrans %}</small>
    </div>
    {% if form.initial.media %}
      <div class="col-auto" id="column-clear-media">
        <div data-toggle="buttons">
          <label for="media-clear_id" class="btn btn-danger">
            <i class="fa fa-trash"></i> {% trans "Clear" %}
            <input type="checkbox" class="action-checkbox align-middle" name="media-clear" id="media-clear_id">
          </label>
        </div>
      </div>
      <div class="col-auto" id="column-download-media">
        <a href="{{ form.initial.media.url }}" class="btn btn-primary" download=""
           data-toggle="tooltip" data-placement="top" title="{{ form.initial.media.name }} ({{ form.initial.media.size|filesizeformat }})">
          <i class="fa fa-download"></i> {% trans "Download the current media" %} ({{ form.initial.media.size|filesizeformat }})
        </a>
      </div>
    {% endif %}
  </div>
</div>

<hr>
<h4>{% trans "Description" %}</h4>
<div class="form-group">
  {{ form.description }}
  <span class="form-text text-muted" style="font-size: .8rem">
        {{ form.description.help_text }}
    </span>
</div>

