{% extends "learning/activity/detail.html" %}
{% load i18n django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} −
  {% blocktrans with name=activity.name %}Delete activity “{{ name }}”{% endblocktrans %}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Delete" "learning:activity/delete" activity.slug %}
{% endblock %}

{% block learning_content %}
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h2 class="m-0">
          {% blocktrans with name=activity.name %}Deleting “{{ name }}”…{% endblocktrans %}
        </h2>
      </div>
      <div class="card-body">
        <p>{% blocktrans with name=activity.name %}You are about to delete the activity “{{ name }}”. This implies a lot of things, including:{% endblocktrans %}</p>
        <ul>
          <li>{% trans "Every course that use this activity will no longer have access to it." %}</li>
          <li>{% trans "Everything will be removed from the database." %}</li>
        </ul>
        <form method="post">
          {% csrf_token %}
          <div class="clearfix">
            <a class="btn btn-success float-lg-left m-1" href="{% url "learning:activity/detail" slug=activity.slug %}">
              {% trans "Bring me back to the activity" %}
            </a>
            <button type="submit" class="btn btn-danger float-lg-right m-1">
              {% trans "Ok, I understand, delete this activity" %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
