{% extends "learning/activity/base.html" %}
{% load i18n learning django_bootstrap_breadcrumbs countries %}

{% block title %}{{ block.super }} −
  {% blocktrans with name=activity.name %}Activity “{{ name }}”{% endblocktrans %}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb activity.name "learning:activity/detail" activity.slug %}
{% endblock %}

{% block sidebar %}
  <aside id="learning-sidebar" class="border-right bg-light">
    <h5 class="sidebar-title text-center text-muted">{{ activity.name }}</h5>
    <div class="list-group list-group-flush">

      {# A link to the activity details #}
      {% with url_name="learning:activity/detail" %}
        <a id="link-activity-detail" href="{% url url_name slug=activity.slug %}"
           data-toggle="tooltip" data-placement="right" title="{% trans "Details" %}" data-container="aside#learning-sidebar"
           class="list-group-item list-group-item-action {% if request.resolver_match.view_name == url_name %}active{% else %}bg-light{% endif %}"
        ><i class="fas fa-info-circle"></i><span class="sidebar-item-title">{% trans "Details" %}</span></a>
      {% endwith %}

      {% get_object_perms activity user as activity_perms %}

      {# A link to the form used to add a resource #}
      {% if "change_activity" in  activity_perms %}
        {% with url_name="learning:activity/detail/resource/add" %}
          <a id="link-activity-add-resource" href="{% url url_name slug=activity.slug %}"
             data-toggle="tooltip" data-placement="right" title="{% trans "New resource" %}" data-container="aside#learning-sidebar"
             class="list-group-item list-group-item-action {% if request.resolver_match.view_name == url_name %}active{% else %}bg-light{% endif %}"
          ><i class="fas fa-plus"></i><span class="sidebar-item-title">{% trans "New resource" %}</span></a>
        {% endwith %}
      {% endif %}

      {# A link to the activity usage #}
      {% if "view_usage_activity" in  activity_perms %}
        {% with url_name="learning:activity/detail/usage" %}
          <a id="link-activity-usage" href="{% url url_name slug=activity.slug %}"
             data-toggle="tooltip" data-placement="right" title="{% trans "Uses" %}" data-container="aside#learning-sidebar"
             class="list-group-item list-group-item-action {% if request.resolver_match.view_name == url_name %}active{% else %}bg-light{% endif %}"
          ><i class="fas fa-recycle"></i><span class="sidebar-item-title">{% trans "Uses" %}</span></a>
        {% endwith %}
      {% endif %}

      {# A link to the activity similar activities #}
      {% if "view_similar_activity" in activity_perms %}
        {% with url_name="learning:activity/detail/similar" %}
          <a id="link-activity-similar" href="{% url url_name slug=activity.slug %}"
             data-toggle="tooltip" data-placement="right" title="{% trans "Similar activities" %}" data-container="aside#learning-sidebar"
             class="list-group-item list-group-item-action {% if request.resolver_match.view_name == url_name %}active{% else %}bg-light{% endif %}"
          ><i class="fas fa-tags"></i><span class="sidebar-item-title">{% trans "Similar activities" %}</span></a>
        {% endwith %}
      {% endif %}
    </div>
  </aside>
{% endblock %}

{% block learning_content %}

  <div class="clearfix">

    {# Name and permalink to the activity #}
    <h3 class="float-left mb-0">
      <a href="{% url "learning:activity/detail" slug=activity.slug %}" class="mr-2 btn"
         data-toggle="tooltip" data-placement="top" title="{% trans "Permalink to the activity." %}"><i class="fa fa-link"></i>
      </a>
      {{ activity.name }}
    </h3>
    <div class="ml-2 float-right">

      {% get_object_perms activity user as activity_perms %}

      {# Button to change the activity #}
      {% if "change_activity" in activity_perms %}
        <a id="btn-change-activity" href="{% url 'learning:activity/update' slug=activity.slug %}" class="btn btn-outline-primary">
          <i class="fa fa-edit"></i> {% trans "Edit" %}
        </a>
      {% endif %}

      {# Button to delete the activity #}
      {% if "delete_activity" in activity_perms %}
        <a id="btn-delete-activity" href="{% url 'learning:activity/delete' slug=activity.slug %}" class="btn btn-outline-danger">
          <i class="fa fa-trash"></i>
        </a>
      {% endif %}

    </div>
  </div>

  {# Activity description line: status badges, author, tags and country #}
  <hr>
  {% include "learning/activity/_includes/details/status_line.html" with activity=activity %}
  <hr>
  {% include "learning/_includes/object_detail_tags_and_country_line.html" with object=activity %}
  <hr>

  {# Activity description content #}
  <div class="p-3 model-description">
    {{ activity.description | render_markdown | safe }}
  </div>

  <hr>

  {# Resources linked to the activity #}
  <div class="clearfix">
    <h3 class="float-left">{% trans "Resources" %}</h3>

    {# The user can change the activity, thus can add resources. This displays the window to create or attach one #}
    {% if "change_activity" in activity_perms %}
      {% include "learning/activity/_includes/details/modals/add_resource_on_activity.html" with activity=activity %}
      <button id="link-activity-add-resource" type="button" class="btn btn-outline-success float-right"
              data-toggle="modal" data-target="#add-resource-on-activity-{{ activity.slug }}">
        <i class="fa fa-plus"></i> {% trans "Add a new resource" %}
      </button>
    {% endif %}

  </div>

  {# Display activity resources #}
  {% with resources=activity.resources.all %}
    {% if resources %}
      <div class="row">
        {% for resource in resources %}
          {% include "learning/resource/_includes/resource_block.html" with resource=resource unlink=True linked_activity=activity %}
        {% endfor %}
      </div>
    {% else %}
      <div id="activity-no-resource" class="alert alert-info mt-4" role="alert">
        {% trans "There is no resource yet." %}
        {% if "change_activity" in activity_perms %}
          {% trans "You should consider adding one." context "add a resource" %}
        {% endif %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}
