{% extends "learning/resource/base.html" %}
{% load i18n learning django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} − {% trans "My resources" %}{% endblock %}

{% block learning_content %}

  <form method="get">
    <div class="form-row">
      <div class="col">
        {{ form.query }}
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
      </div>
      <div class="col-auto">
        <a href="{% url "learning:resource/add" %}" class="float-right btn btn-outline-success">
          <i class="fa fa-plus"></i> {% trans "Create a new resource" %}
        </a>
      </div>
    </div>
  </form>

  {# The result of the query: gives resources to display #}
  {% if search_has_obj %}
    <hr>
    <div class="row" id="searched-resources">
      {% for resource in search_page_obj %}
        {% include "learning/resource/_includes/resource_block.html" with resource=resource %}
      {% endfor %}
    </div>
    {% include 'learning/_includes/paginator_buttons.html' with current_page=search_page_obj prefix='search' nb_per_page=search_nb_per_page %}
  {% endif %}

  {# The resources owned by the connected user #}
  {% if resources_has_obj %}
    <hr>
    <h2>{% trans "My resources" %}</h2>
    <div class="row" id="my-resources">
      {% for resource in resources_page_obj %}
        {% include "learning/resource/_includes/resource_block.html" with resource=resource %}
      {% endfor %}
    </div>
    {% include 'learning/_includes/paginator_buttons.html' with current_page=resources_page_obj prefix='resources' nb_per_page=resources_nb_per_page %}
  {% else %}
    <hr>
    <div class="alert alert-info" role="alert">
      {% trans "You did not create a resource yet. Educational ressources are reusable and shareable videos, audio files, articles, that you can use in activities. Go on and create a resource!" %}
    </div>
  {% endif %}
{% endblock %}
